# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Secrets & config
.env
*.key
secret_key.py

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db